.form {
    display: grid;
    border: 2px solid black;
    width: 220px;
    padding: 10px;

    label {
        display: grid;

        h3 {
            margin: 0;
            margin-bottom: 5px;
        }
    }

    input {
        width: 200px;
        margin-bottom: 20px;
    }

    button {
        border-radius: 5px;
        width: 100px;
        padding: 5px;
    }
}