.userMenu{
    display: flex;
    justify-content: space-between;
    width: 100%;
    a {
            font-size: 20px;
            text-decoration: none;
    
            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    p{
        margin: auto;
    }
    button{
        margin: 5px 5px;
        padding: 0px 5px;
    }

}

.userBar{
    display: flex;
}

.nav_link {
    font-size: 18px;
    text-decoration: none;
    color: black
}

.activated {
    font-size: 20px;
    text-decoration: none;
    color: red;
}