.authorization{
    display: flex;
    width: 100px;
    a{
        
        &:not(:last-child){
            margin-right: 15px;
        }
    }
}
.nav_link{
font-size: 18px;
    text-decoration: none;
    color: black
}
.activated{
font-size: 20px;
    text-decoration: none;
    color: red;
}