.backdrop{
position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
}
.modal{
    position: absolute;
    border-radius: 15px;
    display: grid;
    width: 250px;
    padding: 10px;
    max-width: calc(100vw - 48px);
    max-height: calc(100vh - 24px);
    background-color: teal;
    button{
        width: 120px;
        border-radius: 5px;
        padding: 5px;
        margin-top: 15px;
    }
}